.container-header:not(.custom-bg-color) {
    background: var(--rf-toolbar-bg-color) !important;
    color: var(--rf-toolbar-font-color) !important;
    box-shadow: var(--rf-toolbar-box-shadow);

    .container-header-title,
    .rf-label,
    .container-header-back-button {
        color: var(--rf-toolbar-font-color) !important;
    }

    height: var(--rf-container-header-height);

    .ms-ComboBox, .ms-ComboBox input{
      background: var(--rf-toolbar-dropdown-bg);
    }
    .ms-ComboBox::after, .ms-ComboBox:hover::after, .ms-ComboBox:focus::after {
        /*border-width: 0px 0px 1px 0px;*/
        border-color: var(--rf-toolbar-dropdown-border-color);
        /*border-radius: 0px;*/
    }
}

.customer-info-header-title {
    font-size: 16px;
}

.customer-info-header-sub-title {
    color: var(--rf-gray-200);
    /*font-size: 11px;*/
    font-size: 12px;
    margin-top: 1px;
}


/*overwritting the header styles*/
.container-header-title {
    font-size: 16px !important;
    font-weight: 700;
}

.rf-scroll-container{
    /*to reduce the space*/
    padding-top: 0px !important;
    height: calc(100% - var(--rf-container-header-height)) !important;   
}

/*added for new theme*/
.configurator-page-container{
    height: calc(100% - var(--rf-navbar-height) - var(--rf-footer-height)) !important;
    top: var(--rf-navbar-height)  !important;
}

.rf-actionbar-container{
    background-color: transparent !important;
}